.card{
    /* max-height: 300px;
    max-width: 300px;
    display: inline-block;
    cursor : pointer;
    width : calc(25% - 10px) */


    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.8rem;
    cursor:pointer;
    max-width:200px;
    height:300px;
    z-index:0;
    border: 1px solid rgb(99, 99, 99);

    background-color: #212121;

    /* background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)); */


    /* display : flex;
    flex-direction: column; */

}
.card-img{
    height : 200px;
    opacity: 0.8;

   
}
.fav_icon{
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
}
.card-img img{
    height : 100%;
    width : 100%;
}

.card-details{
    display: flex;
    flex-direction: column;
    /* width: 85%; */
    justify-content: flex-end;
    /* background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)); */
    padding: 1rem 1rem 1rem 1rem;
    bottom: 0px;
    /* height: 100px; */
    text-decoration: none !important;
}

.card-title {
    color : white;

    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card-info {
    font-size: .75rem;
    margin-bottom: 0.25rem;
    color : white;

}

.movie-ratings {
    float: right;
}

.card-description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
    color : white;
}


.card:hover {
    transform: scale(1.1);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-img:hover{
    /* height : 200px; */
    opacity: 1;
}
